body {
    margin: 0;
    padding: 0;
    background-color: slategray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    display: flex;
    flex: 1;
    gap: 10px;
}

h1 {
    font-size: 48px;
    color: white;
    font-weight: 1000;
    text-align: center;
}

h2 {
    font-size: 36px;
    color: white;
    font-weight: 800;
    text-align: center;
}

h3 {
    font-size: 32px;
    color: white;
    font-weight: 600px;
    text-align: center;
}

.btn {
    border-style: solid;
    border-width: 5px;
    border-color: whitesmoke;
    border-radius: 20px;
    background-color: burlywood;

    font-weight: bold;
    font-size: 36px;
    color: white;

    flex: 1;
    align-items: flex-end;
    justify-content: center;
    text-align: center;

    margin: 20px;

    transition: all 0.3s ease; 
}

.btn:hover {
    scale: 1.05;
    border-style: solid;
    border-width: 5px;
    border-color: whitesmoke;
    border-radius: 20px;
}

.results-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: center;
    text-align: center;
    font-size: 24px;
    color: aquamarine;
    font-weight: 800;
}


